body {
    font-family: 'Roboto';
    /* background-image: url(images/cheese-6377657.jpg);
    background-repeat: no-repeat;
    background-size: contain; */
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    width: fit-content;
}

a,
h1,
.intro {
    color: #f9faf8;
}

a,
.intro,
button {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

header,
footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 10px;
    text-decoration: underline #3882f6;
}

button {
    background-color: #3882f6;
    border: #e5e7eb;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: fit-content;
}

h2 {
    margin: 0;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
}

q {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}


.card img {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: #1F2937 solid 5px;
    border-radius: 50%;
}

.container.intro {
    background-color: #1F2937;
}

.container.intro p {
    color: #e5e7eb;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
}

.container.intro img {
    border: #e5e7eb solid 5px;
    border-radius: 10%;
    align-self: flex-end;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #1F2937 solid 5px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #e5e7eb;
}

quote {
    font-size: 36px;
}


.author {
    font-size: 24px;
    font-style: italic;
}